body {
    background-color: <% background %>
}

#header, #footer {
    background-color: <% background-headers %>;
}

#header, #content h1, #content h2 {
    border-bottom-color: <% background-headers %>;
}

#footer {
    border-top-color: <% background-headers %>;
}

body {
    border-left-color: <% background-headers %>;
    border-right-color: <% background-headers %>;
}

#content h1, #content h2 {
    color: <% background-headers %>;
}

#header *, #footer * {
    color: <% color-headers %>;
}

#header > .tools .first {
    background-color: <% background-headers2 %>;
    color: <% color-headers %>;
}

#header a:focus, #footer a:focus {
    background-color: <% background-headers2 %>;
}

#content a:focus img {
    background-color: <% background-headers2 %>;
}

#primary #messages .message {
    background-color: <% background-messages %>;
    border-color: <% color-borders %>;
}

#content * {
    color: <% color-letters %>;
}

#content #primary a {
    color: <% background-headers %>;
}

#content #primary a:focus, #content #secondary a:focus {
    background-color: <% background-headers2 %>;
    color: <% color-headers %>;
}

#primary .resource .message {
    border-color: <% color-borders %>;
}

#primary .resource .label {
    background-color: <% background-headers2 %>;
    color: <% color-headers %>;
}

#primary .resource .timestamp {
    background-color: <% color-borders %>;
}

#secondary .widget img {
    border-color: <% color-borders %>;
}

#primary #main table {
    border-color: <% color-borders %>;
}

#primary #main th {
    background-color: <% background-headers %>;
    color: <% color-headers %>;
}

#primary #main tr.odd {
    background-color: <% color-borders %>;
}

#primary #main tr.even {
    background-color: <% color-headers %>;
}

#primary .mark {
    background-color: <% background-headers2 %>;
    color: <% color-headers %>;
}

#primary .tag {
    border-color: <% background-headers %>;
    background-color: <% color-borders %>;
}

#primary .pagination span {
    background-color: <% background-headers %>;
    color: <% color-headers %>;
    border-color: <% background-headers %>;
}

#primary #block .box {
    border-color: <% color-borders %>;
}

#primary #block .import, #primary #block .member {
    border-color: <% color-borders %>;
}

#primary #block .import .title, #primary #block .member .title {
    background-color: <% background-headers2 %>;
    color: <% color-headers %>;
}

#primary .message {
    border-color: <% color-borders %>;
}
