* {
    font-family: arial,Georgia,"Times New Roman",Times,serif;
    font-size: 98%;
    margin: 0% 0%;
    padding: 0% 0%;
}

h1 {
    font-size: 2.0em;
    border-bottom: 3pt solid;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 1.2em;
    border-bottom: 2pt solid;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: none;
}

input, select, option, textarea {
    font-size: 0.9em;
}

img {
    border: 0em;
}

body {
    margin: 0% auto;
    width: 960px;
    border-left: 2pt solid;
    border-right: 2pt solid;
}

#header {
    border-bottom: 2pt solid;
    height: 7.0em;
}

#content {
    min-height: 488px;
}

#content, #footer {
    display: block;
    clear: both;
}

#footer {
    border-top: 2pt solid;
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.6em;
}

#primary {
    padding: 10px 10px 10px 10px;
    width: 680px;
    float: left;
}

#secondary {
    padding: 10px 10px 10px 10px;
    width: 240px;
    float: left;
}

#header>.menu {
    padding-top: 5.8em;
}

#header>.tools {
    float: right;
}

#header a, #footer a, #header>.tools .first {
    padding: 0.3em 0.5em;
    font-weight: bold;
}

#header>.tools .first {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 1.0em;
    margin-right: 1.0em;
}

#primary p {
    line-height: 1.3em;
    padding-bottom: 0.8em;
}

#primary ul {
    padding-left: 1.0em;
    padding-bottom: 0.8em;
}

#primary .bold {
    font-weight: bold;
}

#primary .tabs {
    padding-left: 0.3em;
}

#primary .tabs.top {
    margin-bottom: 0.75em;
    border-bottom: 2px solid;
}

#primary .tabs.bottom {
    border-top: 2px solid;
    margin-top: 0.75em;
}

#primary .tabs a {
    border: 2px solid;
    padding: 0em 0.1em 0em 0.1em;
    margin: 0em 0em;
}

#primary .tabs.top a.active {
    padding: 0.1em 0.4em 0em 0.4em;
}

#primary .tabs.bottom a.active {
    padding: 0em 0.4em 0.1em 0.4em;
}

#header ul.menu, #footer ul.menu {
    padding: 0em 0em 0.6em 0em;
    list-style-type: none;
}

#header ul.menu>li, #footer ul.menu>li {
    padding: 0px 0px;
    display: inline;
}

#secondary .widget {
    margin-bottom: 1.0em;
    width: 100%;
    clear: both;
}

#secondary .widget dt {
    font-weight: bold;
}

#secondary .widget li {
    list-style: none;
}

#secondary form label {
    width: 4.0em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    font-weight: bold;
}

#secondary form p {
    padding-bottom: 0.2em;
}

#secondary form .submit {
    margin-left: 4.5em;
}

#secondary .right {
    float: right;
}

#primary .center, #secondary .center {
    text-align: center;
}

#secondary .left {
    float: left;
}

#secondary .top_space {
    margin-top: 1.0em;
}

#secondary .small {
    font-size: 0.8em;
}

#secondary .clear {
    clear: both;
}

#secondary .widget img {
    border: 2px solid;
    padding: 1px;
    margin: 0px 2px 0px 2px;
}

#secondary .widget a img {
    width: 50px;
    height: 50px;
}

#secondary .widget ul.list img {
    border: none;
    padding: 0pt 0pt;
    margin: 0pt 0pt;
}

#primary #messages {
    width: 100%;
    margin-bottom: 1.0em;
}

#primary #messages .message {
    display: block;
    border: 1px dashed;
    padding: 0em 0.5em 0em 0.5em;
    margin-bottom: 0.3em;
}

#primary #messages .message a {
    font-weight: bold;
}

#primary #breadcrumb {
    margin-left: 1.0em;
    margin-bottom: 1.0em;
}

#primary #main dt {
    padding-left: 0.1em;
    font-weight: bold;
}

#primary #main dd {
    padding-left: 1.0em;
}

#primary #main a {
    font-weight: bold;
}

#primary #main table {
    width: 100%;
    border: 2px solid;
    padding: 0px;
}

#primary #main th {
    padding: 0.1em 0.1em;
}

#primary #main tr td {
    padding-left: 0.1em;
}

#primary #main .options {
    padding-left: 1.1em;
}

#primary form label {
    width: 17.0em;
    float: left;
    margin-right: 0.5em;
    font-weight: bold;
    text-align: right;
}

#primary form p {
    padding-bottom: 0.2em;
}

#primary .mark, #primary .tag {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.12em 0.36em;
    margin-right: 0.45em;
}

#primary .tag {
    border: 1px solid;
}

#primary form .form {
    font-size: 0.8em;
}

#primary form input[type='text'], #primary form input[type='password'], #primary form textarea {
    width: 25.0em;
}

#primary form table input[type='text'] {
    width: 9.0em;
}

#primary form table input[type='text'].number {
    width: 3.0em;
}

#primary form textarea {
    width: 34.5em;
    height: 16.0em;
}

#primary form .submit {
    margin-left: 17.0em;
}

#primary form input[type='text'].login, #primary form input[type='password'].login {
    width: 12.0em;
}

#primary form input[type='button'], #primary form input[type='submit'] {
    padding: 0em 0.25em;
}

#primary h1, #primary h2, #primary h3 {
    position: relative;
}

#primary h1 strong.task, #primary h2 strong.task, #primary h3 strong.task {
    position: absolute;
    bottom: 0.1em;
    right: 0.2em;
    font-size: 0.7em;
}

#primary .pagination {
    padding: 0em 0.5em;
    text-align: center;
}
#primary .pagination a, #primary .pagination span {
    border: 1px dashed;
    padding: 0em 0.4em;
    margin: 0em 0.1em;
}

#primary .pagination span {
    font-weight: bold;
    border-style: solid;
}

#primary .resource {
    margin: 0.4em 0em;
    position: relative;
    clear: both;
}

#primary .resource .label {
    position: absolute;
    float: right;
    top: 0em;
    right: 0em;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.1em 0.5em 0.2em 0.5em;
    text-transform: uppercase;
}

#primary .resource .recipient {
    position: absolute;
    top: 0.18em;
    left: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

#primary .resource .avatar {
    position: absolute;
    padding: 1.2em 0.5em 0em 0.4em;
}

#primary .resource .message {
    border: 1px solid;
    padding: 1.2em 0.5em 1.2em 60px;
    min-height: 50px;
}

#primary .resource .message p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1.0em;
}

#primary .resource .message a {
    border: 1px solid;
    padding: 0em 0.25em;
}

#primary .resource .message textarea {
    margin-bottom: 1.0em;
    width: 530px;
    height: 4.0em;
}

#primary .resource .addon {
    position: absolute;
    left: 60px;
    bottom: 0.2em;
    font-size: 0.8em;
}

#primary .resource .addon .viewall {
    font-size: 1.1em;
}

#primary .resource .addon input[type="submit"] {
    margin-bottom: 0.3em;
}

#primary .resource .timestamp {
    position: absolute;
    bottom: 0em;
    right: 0em;
    font-size: 0.8em;
    padding: 0.1em 0.5em 0.2em 0.5em;
}

#primary #block {
    margin-top: 0.3em;
}

#primary .clear {
    margin-bottom: 0.3em;
    clear: both;
}

#primary #block .box {
    position: relative;
    border: 2px solid;
    display: inline;
    float: left;
    width: 200px;
    margin: 0.2em 0.2em;
    padding-top: 1.6em;
    padding-bottom: 1.0em;
    padding-left: 110px;
    padding-right: 1.0em;
    min-height: 8.5em;
}

#primary #block .box p {
    padding-bottom: 0.1em;
    text-align: left;
}

#primary #block .box .photo {
    position: absolute;
    left: 5px;
    top: 5px;
}

#primary #block .box .title {
    position: absolute;
    top: 5px;
    font-weight: bold;
    height: 1.1em;
    overflow: hidden;
}

#primary #block .box .tools {
    position: absolute;
    left: 5px;
    top: 110px;
}

#primary #block .box .description {
    max-height: 5.3em;
    overflow: hidden;
}

#primary #block .import, #primary #block .member {
    position: relative;
    border: 2px solid;
    display: inline;
    float: left;
    width: 325px;
    margin: 0.2em 0.2em;
    min-height: 7.0em;
}

#primary #block .import p, #primary #block .member p {
    font-size: 0.8em;
    line-height: 1.0em;
    text-align: left;
}

#primary #block .import .title, #primary #block .member .title {
    font-weight: bold;
    display: block;
    padding: 0.2em 0.1em 0.4em 1.8em;
    margin-bottom: 0.1em;
}

#primary #block .import label {
    width: 11.0em;
    float: left;
    margin-right: 0.5em;
    font-weight: bold;
    text-align: right;
}

#primary #block .import input[type='checkbox'], #primary #block .member input[type='checkbox'] {
    position: absolute;
    left: 0.1em;
    top: 0.1em;
    z-index: 1;
}

#primary #block .import .result {
    position: absolute;
    right: 0.1em;
    top: 1.5em;
}

#primary #block .member {
    width: 215px;
}

#primary #block .member .photo {
    float: left;
    margin: 3px 5px;
}

#primary #block .member .body {
    float: left;
}

#primary #user {
    position: relative;
    padding-left: 210px;
    min-height: 220px;
}

#primary #user-resource {
    position: relative;
    padding-left: 110px;
    min-height: 120px;
}

#primary #user .photo, #primary #user-resource .photo {
    position: absolute;
    top: 0px;
    left: 0px;
}

#primary #user-resource p {
    line-height: 1.25em;
}

#primary .message {
    padding: 0.75em;
    border: 2px dotted;
    margin-bottom: 1.0em;
}

#primary .center {
    margin: 0pt auto;
}

#primary #main ul li {
    list-style-type: circle;
}

#primary #list .box {
    float: left;
    display: inline;
    border: 2px solid;
    margin: 0 0.5em 0 0;
    padding: 0.2em 0 0 0.2em;
    width: 74px;
    height: 53px;
}

#primary #califications input[type="text"] {
    margin: 0em 0em;
    padding: 0em 0em;
    width: 2.0em;
}

#primary #tagcloud {
    line-height: 2.8em;
}

#primary #tagcloud .tag {
    border: 3px solid;
    padding: 0em 0.2em;
    margin: 0em 0.25em;
}

#primary .tag-10 { font-size: 250%; }
#primary .tag-9  { font-size: 220%; }
#primary .tag-8  { font-size: 180%; }
#primary .tag-7  { font-size: 150%; }
#primary .tag-6  { font-size: 135%; }
#primary .tag-5  { font-size: 110%; }
#primary .tag-4  { font-size: 90%; }
#primary .tag-3  { font-size: 75%; }
#primary .tag-2  { font-size: 60%; }
#primary .tag-1  { font-size: 50%; }

#primary #main object {
    margin: 0.8em 0em 1.2em 0.45em;
}
    
#analytics div.chart {
    float: left;
    margin: 0.5em 0em;
    width: 680px;
    min-height: 100px;
}

#analytics div.pie {
    width: 340px;
}
